.delete-category{
    >h1{
        text-transform: uppercase;
        width: fit-content;
        font-size: 34px;
        font-weight: 800;
        color: red;
        cursor: pointer;
        rotate: (45deg);
    }
}