.modal-page-call{
    height: fit-content;
    padding-bottom: 10px;
    .modal-page-call__button-add{
        border: none;
        margin: 0 auto;
        display: block;
        position: relative;
        color: #2196f3;
        background-color: #0ed4e2;
        text-transform: uppercase;
        padding: 10px 30px;
        font-size: 18px;
        font-weight: 600;
        transition: 0.1s;
        letter-spacing: 0.1px;
        &::before{
            content: '';
            position: absolute;
            inset: 3px;
            background-color: rgb(58, 56, 56);
        }
        & span {
            position: relative;
            z-index: 1;
        }
        & i {
            position: absolute;
            inset: 0;
            display: block;
        }
        & i::before{
            position: absolute;
            content: '';
            top: 0;
            left: 80%;
            height: 3px;
            width: 20px;
            background-color: rgb(58, 56, 56);
            transform: translateX(-50%) skewX(300deg);
            transition: 0.5s;
        }
        &:hover{
            cursor: pointer;
            letter-spacing: 0.8px;
            box-shadow: 0 0 10px black, 0 0 30px black;
        }
        &:hover i::before{
            width: 40px;
            left: 20%;
        }

        & i::after{
            position: absolute;
            content: '';
            bottom: 0;
            left: 20%;
            height: 3px;
            width: 20px;
            background-color: rgb(58, 56, 56);
            transform: translateX(-50%) skewX(300deg);
            transition: 0.5s;
        }
        &:hover i::after{
            width: 40px;
            left: 80%;
        }
    }
}