.main{
    padding: 20px;
    min-height: 80vh;
    display: flex;
    background-color: rgb(54, 52, 52);
    min-width: fit-content;
    .main__cards{
        background-color: rgb(224, 230, 231);
        min-width: 300px;
        padding: 10px 10px 0 10px;
        height: fit-content;
        border-radius: 12px;
        margin: 20px;
        cursor: grab;
    }
    .test{
        filter: blur(2px);
    }
}